*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}

@font-face{
	src:url('../fonts/OpenSans-Light.ttf');
	font-family: "Open Sans";
}

.clear{
	clear: both;
}

.center{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.container-banner{
	width: 100%;
	padding:0 2%;
	height: 557px;
	background-image:url('../images/main.jpg');
	background-size: cover;
	background-position: center;
}

.container-banner > .center{
	height: 100%;
}
.container-banner > .center > .sub > .menu{
	margin-top: 20px;
}
.menu{
	text-align: left;

}
.menu a{
	color: rgb(7, 1, 1);
	font-size: 28px;
	text-decoration: none;
	text-align: center;
	padding-right: 30px;
	margin-left: 20px;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	float: right;
	margin-top: -25px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

.form{
	padding:20px;
	width: 400px;
	height: calc(100% + 30px);
	float: left;
	position: relative;
	top: 80px;
	background-clip:padding-box;
	/*background-origin tem o mesmo conceito porém serve para imagens.*/
}

.form h2{
	font-weight: normal;
	color:  #181717;
	font-size: 42px;
}

.form p{
	display: inline-block;
	width: 100%;
	color: #181717;
	font-size: 17px;
	margin:20px 0;
}

.form input[type=submit]{
	color: white;
	font-size: 25px;
	width: 180px;
	height: 46px;
	display: inline-block;
	background-color: red;
	cursor: pointer;
	
}

.form input[type=submit]:hover{
	background-color: #323665;
}
.civBusca{
  background-color:#2F4F4F;
  border:solid 1px;
  border-radius:15px;
  width:300px;
}
 
.txtBusca{
  float:right;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
}
.container-banner >.center > .ico > .icones {
float: right; 
letter-spacing: 10px;
margin-right: 150px;
margin-top: 70px;

}
.container-2{
	padding:40px 2%;
	background-color: #ddd;
	text-align: center;
}


.container-2 h2{
	font-weight: normal;
}

.container-2 p{
	width: 100%;
	max-width: 768px;
	margin:15px 0;
	display: inline-block;
	text-align: justify;
}

.arrow{
	position: relative;
	top:60px;
	left:50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	background-image: url('../images/arrow.png');
	background-size: 100% 100%;
}

.section-1{
	padding:90px 2%;
}

.section-1 h2{
	text-align: center;
	color: #462663;
	font-weight: normal;
}

.container-section{
	margin-top:40px;
	text-align: center;
}

.container-single{
	float: left;
	width: 33.3333%;
	padding:30px;
}


.container-single p{
	display: inline-block;
	text-align: justify;
	padding:10px;
}

.container-single img{
	width:70px;
}

.footer{
	/*clear:both;*/
	border-top:2px solid #888888;
	padding:20px 0;
	text-align: center;
	color: #888;
}

.footer p{
	margin-top:8px;
}


@media screen and (max-width: 1024px){
	.header{
		height: auto;
		width: 100%;
		padding:15px 0;
		text-align: center;
	}

	.header img{
		margin:0;
	}

	.container-list{
		padding:30px 0;
		width: 40%;
		float: left;
		display: inline-block;
		max-width: 500px;
		height: auto;
	}

	.container-banner{
		width: 100%;
		padding:40px 2%;
		height: auto;
		text-align: center;
	}

	.form{
		max-width: 400px;
		padding:10px;
		width: 60%;
		height: 100%;
		float: center;
		top:0;
	}

	.input-container input[type=text]{
		width: 100%;
		height: 55px;
	}


	.form input[type=submit]{
		max-width: 280px;
		height: 56px;
		width: 100%;
	}
}

@media screen and (max-width: 768px){
	.container-2{
		padding-right: 4%;
		padding-left: 4%;
	}
	.container-list{
		margin-top: 0;
		float: none;
		display: inline-block;
		width: 100%;
	}

	.form{
		float: none;
		display: inline-block;
		width: 90%;
		margin-top:30px;
	}

	.container-single{
		float: none;
		display: inline-block;
		width: 100%;
		max-width: 600px;
		padding:30px 0;
	}
}